@tailwind base;
@tailwind utilities;
@tailwind components;

#__next {
    background-color: #EDEEEF;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
}

body {
    background-color: #EDEEEF;
}

/*regular*/
.aveSofRegular:lang(eng) {
    font-family: avenirMedium, serif;
}

.aveSofRegular:lang(ka) {
    font-family: sofiaRegular, serif;
}

/*regular*/

/*medium*/
.aveSofMedium:lang(eng) {
    font-family: avenirMedium, serif;
}

.aveSofMedium:lang(ka) {
    font-family: sofiaMedium, serif;
}

/*medium*/
/*bold*/

.aveSofBold:lang(eng) {
    font-family: avenirBold, serif;
}

.aveSofBold:lang(ka) {
    font-family: sofiaBold, serif;
}

/*bold*/

.carousel-status {
    display: none;
}

.textDots1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.textDots4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: fill;
}

.mySwiper {
    /*padding-bottom: 35px !important;*/
    overflow: hidden;
    border-radius: 22px;
}

.swiper-horizontal > .swiper-pagination {
    position: absolute;
    bottom: 0;
}

.mySwiper > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 3px !important;
}

.detailsSwiper .swiper-pagination {
    margin-bottom: 14px !important;
}

.mySwiper .swiper-pagination-bullet-active {
    background: #8338EC !important;
    width: 6px !important;
    border: 3px solid white !important;
    min-height: 12px;
    min-width: 12px;
}

.mySwiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.mySwiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(1);
}

.mySwiper .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(1);

}

.mySwiper .swiper-pagination-bullet {
    background: white;
    opacity: 0.7;
}

.mySwiper .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
    width: 150px !important;
}


.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev {
    width: 60px;
    min-width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    opacity: 0;
    transition: .3s all ease;
}

.mySwiper:hover .swiper-button-next, .mySwiper:hover .swiper-button-prev {
    opacity: 1;
    transition: .3s all ease;
}

.mySwiper img {
    transition: ease all .3s;
}

.mySwiper .swiper-slide {
    border-radius: 22px;
    overflow: hidden;
}

.mySwiper:hover img {
    transform: scale(1.1);
    transition: ease all .3s;
}

.mySwiper .swiper-button-next:after, .swiper-button-prev:after {
    content: "" !important;
    background-repeat: no-repeat;
    padding: 10px;
}

.mySwiper .swiper-button-prev:after {
    background-image: url("../src/assets/img/leftArrow.svg");
    padding-right: 15px;
}

.mySwiper .swiper-button-next:after {
    background-image: url("../src/assets/img/rightArrow.svg");
    padding-left: 15px;
}

.mySwiper .swiper-button-next {
    right: 50px !important;
}

.mySwiper .swiper-button-prev {
    left: 50px !important;
}

/*offerSlider*/
.offerSlider .swiper-button-next:after, .offerSlider .swiper-button-prev:after {
    content: "" !important;
    background-repeat: no-repeat;
    padding: 10px;
}

.offerSlider .swiper-button-next {
    right: -20px
}

.offerSlider .swiper-button-prev {
    left: -20px
}

.offerSlider .swiper-button-prev:after {
    background-image: url("../src/assets/img/rightArrow.svg");
    padding-left: 15px;
}

.offerSlider .swiper-button-next:after {
    background-image: url("../src/assets/img/leftArrow.svg");
    padding-right: 15px;
}

.offerSlider {
    position: relative;
}

.offerSliderPrev, .offerSliderNext {
    position: absolute;
    top: 50px;
    z-index: 10;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F5F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.offerSliderPrev {
    left: -50px;
}

.offerSliderNext {
    right: -50px;
}

/*offerSlider*/

.indiana-scroll-container {
    height: 546px;
    overflow-x: scroll;
}


.OfferItemSlider {
    padding-bottom: 0 !important;
    width: unset;
    height: unset;
}

.OfferItemSlider {

}

/*checkbox antd*/
.ant-checkbox-inner {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: #D9D9D980;
    border: 1px solid #D9D9D980;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #8338ec;
    border: 1px solid #8338ec;
}

.ant-checkbox-checked::after {
    border-color: transparent;
}

.ant-checkbox-inner::after {
    left: 30%;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #8338ec;
}

/*//checkbox antd*/

/*search btn antd*/

.search {
    border-color: #8338EC;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ant-input:focus, .ant-input-focused {
    border-color: transparent;
    box-shadow: none;
}

.search.ant-btn-primary:hover, .search.ant-btn-primary:focus {
    border-color: #8338EC;
    background: #8338EC;
}

.searchInput .ant-input {
    padding-left: 24px;
}

.searchInput .ant-input::placeholder {
    color: #383838b3;
    font-size: 16px;
}

.searchInput .ant-input {
    color: #383838;
}


/*search btn antd*/


/*antd modal review*/

.reviewModal .ant-modal-body {
    padding: 0
}

.reviewModal .ant-modal-content {
    border-radius: 12px;
}


/*antd modal review*/


/*antd tab */
.tabDescription .ant-tabs-ink-bar {
    background: #8338EC;
    height: 3px !important;
    border-radius: 4px 4px 0 0;
}

.tabDescription .ant-tabs-tab {
    padding-bottom: 4px;
}

.tabDescription .ant-tabs-tab-active h3 {
    color: #8338EC;
}

/*antd tab */


/*1665*/
.carousel .slider-wrapper.axis-horizontal .slider {
    height: 220px;
}

@media (max-width: 1665px) {

    .offerSliderPrev, .offerSliderNext {
        display: none;
    }
}

/*antd badge*/

.ant-badge-count {
    background: #8338EC;
}

.badge-favourites .ant-badge-count {
    right: 28px;
    border: 2px solid white;
    background-color: #8338EC;
}

.badge-cart .ant-badge-count {
    right: 9px;
    border: 2px solid white;
    background-color: #8338EC;
}

/*.badge-favourites .ant-badge-count:lang(eng) {*/
/*    right: 17px;*/
/*}*/

.badge-favourites .ant-scroll-number-only, .badge-cart .ant-scroll-number-only {
    top: -2px
}

/*antd badge*/

/*antd image preview*/
.ant-image {
    height: 100%;
    width: 100%;
}

.ant-image-preview-img-wrapper {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.ant-image-mask {
    border-radius: 12px;
}

.ant-image-mask-info {
    display: flex;
    align-items: center;
}

/*antd image preview*/

.plus .after:after {
    content: '';
    min-width: 12.5px;
    height: 1.5px;
    background-color: #EEEEEE;
    border-radius: 6px;
    transform: rotate(90deg);
    position: absolute;
}

.active .after:after {
    background-color: #383838;
}

.swiper-slide > div {
    width: 100%;
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
    margin: 0 0 24px 0;
}

/*ant result*/

.ant-result {
    padding: 48px 32px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ant-result-image {
    margin: 0;
}

/*ant result*/

.gallery .swiper-scrollbar, .category .swiper-scrollbar {
    display: none;
}

.category .swiper-slide {
    width: min-content;
}

.ol, ul, menu {
    list-style: initial;
    margin: revert;
    padding: revert;
}

/*#bwc-widget-action {*/
/*    bottom: 93px !important;*/
/*}*/

@media (max-width: 600px) {

    .miniHeight .img {
        height: 155px !important;
    }

    .miniHeight .carousel .slider-wrapper.axis-horizontal .slider {
        height: 155px !important;
    }
}

@media (max-width: 768px) {

    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }

    .detailsSwiper .swiper-pagination-horizontal {
        left: 50%;
        transform: translateX(-50%);
    }

    /*.swiper-slide img {*/
    /*    object-fit: cover;*/
    /*}*/
    .mySwiper .swiper-pagination {
        margin-bottom: 2px;
    }

    .mySwiper {
        border-radius: unset;
        overflow: unset;
    }

    .mySwiper:hover img {
        transform: scale(1);
        transition: ease all 0s;
    }

    .mySwiper .swiper-slide {
        border-radius: 0;
    }
}


.container, .con {
    max-width: 1562px !important;
}

.carousel.carousel-slider {
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;

}

.hideBar::-webkit-scrollbar {
    display: none;
}

/*.tabDescription span, .tabDescription p, .tabDescription b, .tabDescription a, .tabDescription strong, .tabDescription div {*/
/*    font-family: avenirMedium, serif !important;*/
/*}*/
#bwc-widget-action {
    bottom: 97px !important;
    right: 0px !important;
}


.active #bwc-widget-action {
    display: none !important;
}


.reviewModal .ant-modal-content {
    padding-top: 50px;
}

.search .ant-radio-checked .ant-radio-inner {
    border-color: #8338EC;
    background-color: #8338EC;
    width: 21px;
    height: 21px;
}

.search .ant-radio-inner {
    width: 21px;
    height: 21px;
}

.ant-btn-primary {
    background-color: #8338EC;
}